<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js For Loop</title>
</head>
<body>
    <div id="root">
        <h3>Exprience List</h3>
        <div v-for="(skill, i) in skills" v-if="skill.exprience > 3">
               {{i+1}}. {{skill.name}} ({{skill.exprience}})
        </div>
        <h3>Exprience List</h3>
        <div v-for="(skill, i) in skills" v-show="skill.exprience <= 3">
            {{i+1}}. {{skill.name}} ({{skill.exprience}})
        </div>
        <p v-if="show">Showing....</p>
        <p v-else>Not showing...</p>
    </div>
</body>
<footer>
    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el:"#root",
            data:{
                skills : [
                    {name : 'HTML', exprience :'5'},
                    {name : 'CSS', exprience : '3'},
                    {name : 'JS', exprience : '3'},
                    {name : 'PHP', exprience:'4'},
                ],
                show : true,
            }
        });
    </script>
</footer>
</html>