<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class & Attrbute Binding</title>
    <style>
        ul{
            list-style: none;
        }
        li{
            display: inline;
        }
        .active{
            background-color: hsl(224, 59%, 47%);
            color: rgb(7, 7, 7);
            padding: 10px;
        }
    </style>
</head>
<body>
    <div id="root">
        <ul>
            <li><a :class="{'active' : activeLink == 'link1'}" :href="link1.url" :title="link1.title">{{link1.text}}</a></li>
            <li><a :class="{'active' : activeLink == 'link2'}" :href="link2.url" :title="link2.title">{{link2.text}}</a></li>
        </ul>
        <p v-text="text"></p>
        <p v-html="html"></p>
    </div>
    
</body>
<footer>
    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el : "#root",
            data : {
                link1: { text:'Facebook',title:'Go to facebook', url:'www.facebook.com' },
                link2 : { text : 'Youtube', title:'Go to youtube', url:'www.youtube.com'},
                //className : "active"
                activeLink : "link1",
                text : 'This is text',
                html : '<a href="www.facebook.com">Facebook</a>',
            }
        });
    </script>
</footer>
</html>