<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event and Method</title>
</head>
<body>
    <div id="root">
        <div v-for="(skill, i) in skills">
            {{i+1}} . {{skill}} <button @click="removeSkill(i)">x</button>
        </div>
        <input type="text" v-model="newSkill">
        <button v-on:click="addNewSkill()">Add</button>

        <p>Reverse Message </p>
    <div>
        {{message}}
    </div>
    <button v-on:click="reverseMessage">Reverse</button>
    </div>
    
    
</body>
<footer>
    <script src="vue.js"></script>
    <script>
       var app = new Vue({
            el:"#root",
            data:{
                newSkill : "",
                skills : ["HTML","CSS","PHP"],
                message : 'Vue JS',
            },
            methods:{
                addNewSkill:function(){
                    this.skills.push(this.newSkill);
                    this.newSkill = '';
                },
                removeSkill:function(i){
                    this.skills.splice(i, 1);
                },
                reverseMessage: function () {
                    this.message = this.message.split('').reverse().join('')
                }
            }
        });
    </script>
</footer>
</html>