<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Two Way Data Binding</title>
</head>
<body>
    <div id="root">
        <h4>Two wat data binding</h4>
        <input type="text"  v-model="name">
        <p>Your name is {{ name}}</p>
    </div>

    <script src="vue.js"></script>
    <script>
        var app = new Vue({
            el:"#root",
            data : {
                "name" : "Rahman"
            },
            mounted : function(){
                console.log('Mounted');
            }
        });
    </script>
</body>
</html>