<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Vue Js Code</title>
</head>
<body>
    <div id="root">
        {{message}}
    </div>
    <script type="text/javascript" src="vue.js"></script>
    <script>
            var app = new Vue({
                el:"#root",
                data : {
                    "message":"First Vue Js Message"
                }
            });
    </script>
</body>
</html>